.login-box, .register-box {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 17%);
}
.card {
  margin-top: 1rem;
}
aside.main-sidebar.sidebar-dark-primary {
    background-color: #0B5345;
}
nav.main-header {
  background-color: #bad4b6;
}
.bg-info {
  background-color: #18616d!important;
}
.bg-warning {
  background-color: #c59e28!important;
}
.bg-success {
  background-color: #188430!important;
}
.bg-danger {
  background-color: #a0202c!important;
}
#order td{
  padding: 0.55rem;
}
.main-sidebar {
  height: 100vh !important;
  overflow-y: hidden;
  z-index: 1038;
  position: fixed !important;
}
/* width */
.main-sidebar ::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.main-sidebar ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
.main-sidebar ::-webkit-scrollbar-thumb {
  background: #0a5cb3; 
  border-radius: 10px;
}

/* Handle on hover */
.main-sidebar ::-webkit-scrollbar-thumb:hover {
  background: #041666; 
}