body{
  background-color: #faf7f2;
}
.single_category.active{
  color: red;
}
.preload .preloader-inner{
  opacity: 0.8;
}

.widget_filter input {
  width: 90px;
}
.single-item-wrap .wrap-details .wrap-footer .price {
  font-size: 17px;
}
.widget.widget_categories ul li a.active{
   color: red;
}
.image-height img{
  width: 100%;
  height: 460px;
}
.login-box{
  background: #d8baba;
  padding: 20px;
  border-radius: 10px;
  padding-top: 40px;
}
.login-box .btn.btn-primary{
  height: 38px;
  width: 100px;
  padding: 0;
  border-radius: 10px;
  font-size: 18px;
  line-height: 0;
}
button.active-account {
  border: navajowhite;
  background: none;
  font-size: 40px;
  font-weight: bold;
  padding-bottom: 20px;
}
.media-body{
  width: 100%;
}
.reply-comment,.reply-reply-comment{
  display: none;
}
.media.reply {
  margin-left: 50px;
}
.reply-reply-comment.reply{
  margin-left: 50px;
}
.media img{
  width: 80px;
}
.media.reply img{
  width: 60px;
}
.variation select, select {
  padding: 10px;
  border-radius: 8px;
}
.order-area .order-product .thumb img {
  height: auto;
}
.order-area .order-product {
  padding: 10px 30px;
}
.order-product .details li span{
  font-weight: bold;
  color: black;
}
.add_review{
  cursor: pointer;
}
.add_review svg{
  margin-right: 5px;
}
.add_review.active svg{
  color: #d80027;
}
.single-textarea-wrap textarea{
  background-color: #fff !important;
}
.comment-area .media .media-body p {
  margin: 0px;
}
.comment-area .media {
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.rating-inner{
  position: relative;
}
span.rating-inner img {
  width: 100px;
  vertical-align: initial !important;
}
.red_rating{
  position: absolute;
}
.rating-inner {
  display: inline;
}
.modal-footer .btn {
  height: 35px;
  line-height: 35px;
  padding: 0 30px;
  border-radius: 7px;
}